@model IEnumerable<GreenLocator.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin report view</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplianceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplianceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportCategory)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
